---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACcab31cb5b9371e338d9f59d56828a459/Messages.json
    body:
      encoding: US-ASCII
      string: From=%2B15005550001&To=%2B17605551212&Body=This+is+test
    headers:
      Authorization:
      - Basic QUNjYWIzMWNiNWI5MzcxZTMzOGQ5ZjU5ZDU2ODI4YTQ1OTplNjk1OWMzYmQ0OTM0Y2Q2MWYwMWYzNDBhM2E5NzlmMw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.037'
      Twilio-Request-Id:
      - RQ9025e5b079034d1fad83e2130abf041e
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21212, "message": "The ''From'' number +15005550001 is not
        a valid phone number, shortcode, or alphanumeric sender ID.", "more_info":
        "https://www.twilio.com/docs/errors/21212", "status": 400}'
  recorded_at: Mon, 08 May 2017 16:14:07 GMT
recorded_with: VCR 3.0.3
