---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACcab31cb5b9371e338d9f59d56828a459/Messages.json
    body:
      encoding: US-ASCII
      string: From=%2B15005550006&To=%2B15005550001&Body=This+is+test
    headers:
      Authorization:
      - Basic QUNjYWIzMWNiNWI5MzcxZTMzOGQ5ZjU5ZDU2ODI4YTQ1OTplNjk1OWMzYmQ0OTM0Y2Q2MWYwMWYzNDBhM2E5NzlmMw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.072'
      Twilio-Request-Id:
      - RQ0732fd654a514c3fb3417c85d20a25dd
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number +15005550001 is not a
        valid phone number.", "more_info": "https://www.twilio.com/docs/errors/21211",
        "status": 400}'
  recorded_at: Mon, 08 May 2017 16:32:05 GMT
recorded_with: VCR 3.0.3
